<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375057614828-cs6ennk3d9ok01c7mgrk38a6tbd4nsjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375057614828-cs6ennk3d9ok01c7mgrk38a6tbd4nsjn</string>
	<key>API_KEY</key>
	<string>AIzaSyCNvMzcR77oXarXsrKYm_UaLrVaFy3iyR8</string>
	<key>GCM_SENDER_ID</key>
	<string>375057614828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arnulfo.Trivia-Battle-Game</string>
	<key>PROJECT_ID</key>
	<string>work-integrated-project</string>
	<key>STORAGE_BUCKET</key>
	<string>work-integrated-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375057614828:ios:4dd3fca32c59b45a5e22c9</string>
</dict>
</plist>